/* $bg-color:  #0f0f0f;
$txt-color: white; */

$bg-color:  white;
$txt-color: #0f0f0f;

body {
    background-color: $bg-color;
    color: $txt-color;
}

main {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

#map {
    position: sticky;
    top: 0px;
    background-color: $bg-color;
}

#map path.admin0 {
    fill: $bg-color;
    stroke: $txt-color;
    stroke-opacity: 0.3;
    stroke-width: 1px;
}

#map .circles {
    fill: red;
    opacity: 0.5;
}

#heatmap {
    width: 100%;
}

.flip-container {
    font-size: 24px;
    max-width: 1400px;
    margin: auto;
    margin-left:50px;
    margin-top: 50px;
}

.flip {
    cursor: pointer;        
}

.flip-container span {
    font-weight: bold;
}

svg text {
    fill: $txt-color;
}

path.domain {
    display: none;
}

g.tick line {
    display: none;
}

g.tick text {
    font-weight: bold;
    font-size: 12px;
    fill: $txt-color;
}

.heat-item {
    stroke: $bg-color;
    stroke-opacity:0.1;
    cursor: pointer;

}

#grid {
    display: flex;
    margin: auto;
    flex-wrap: wrap;

    div {
        width: 346px;
    }

    img {
        width: 98%;
    }    
  }