/* $bg-color:  #0f0f0f;
$txt-color: white; */

$bg-color:  white;
$txt-color: #0f0f0f;

body {
    background-color: $bg-color;
    color: $txt-color;
    font-family: sans-serif;
}

main {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

#map {
    position: sticky;
    top: 0px;
    background-color: $bg-color;
    z-index: 10000000;
}

#map path.admin0 {
    fill: $bg-color;
    stroke: $txt-color;
    stroke-opacity: 0.3;
    stroke-width: 1px;
}

#map .circle {
    fill: red;
    opacity: 0.5;
}

#map .highlight-marker {
    stroke: rgb(29, 29, 1);
    fill:transparent
}

#heatmap {
    width: 100%;
}

.flip-container {
    font-size: 24px;
    max-width: 1400px;
    margin: auto;
    margin-left:50px;
    margin-top: 50px;
}

.flip {
    cursor: pointer;        
}

.flip-container span {
    font-weight: bold;
}

svg text {
    fill: $txt-color;
}

path.domain {
    display: none;
}

g.tick line {
    display: none;
}

g.tick text {
    font-weight: bold;
    font-size: 12px;
    fill: $txt-color;
}

.heat-item {
    stroke: $bg-color;
    stroke-opacity:0.1;
    cursor: pointer;
}

#grid {
    display: flex;
    margin: auto;
    flex-wrap: wrap;

    div {
        width: 346px;
    }

    .pic-wrapper {
        position: relative;
    }

    .pic-tip {   
        pointer-events: none;
        display: none;
        width: 98%;
        height: 98%;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
        position: absolute;
        top:0;
        left:0;    
    }
    
    .pic-tip p {
        padding: 20px;
        color: $bg-color;    
        font-size: 18px;
        line-height: 1.4;
    }

    img.tip {
        cursor: pointer;
        width: 98%;
    }    

    img.tip:hover + .pic-tip {
        display: block;
    }
  }